<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Student Exam Performance</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to the Student Exam Performance Indicator</h1>
        <p>Predict student performance based on various factors.</p>

        <a href="home.html" class="btn">Get Started</a>
    </div>
</body>

</html>